.services-section {
    display: grid;
    gap: 25px 0;
    place-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.services-title {
    text-transform: uppercase;
    color: var(--primary-clr);
    font-size: 3rem;
    font-weight: 500;
    margin: 25px 0 25px 50px;
}

@media (min-width: 800px) {
    .services-section {
        max-width: 100vw;
        transform: scale(.8);
        // padding: 25px 0 0 0;
        grid-template-columns: 1fr 1fr;
        gap: 50px 20px;
    }

}