.form-container {
    padding: 30px;
    position: relative;
    overflow: hidden;
    padding-bottom: 50px;

    &:hover {
        .right {
            filter: grayscale(0);
        }
    }

    .left {
        .form-title {
            text-transform: uppercase;
            color: var(--primary-clr);
            font-size: 3rem;
            font-weight: 500;
            margin: 0 0 50px 50px;
        }

        form {
            .inputs-container {
                display: grid;
                gap: 20px;
            }
            .buttons-container{
                margin-top: 25px;
                display: flex;
                justify-content: space-between;
            }
        }

    }


    .right {
        position: absolute;
        inset: 0 0 0 30%;
        height: 100%;
        transform: scale(2);
        opacity: .45;
        z-index: -89;
        transition: all .3s ease;
    }


}


@media (min-width: 800px) {
    .form-container {
        padding: 0 10% 0;
        display: grid;
        grid-template-columns: 50% 50%;
        overflow: hidden;
        gap: 25px;
        place-items: center;
        // height: max-content;
        // padding-bottom: 200px;

        .right {
            opacity: 1;
            position: relative;
            width: 100%;
            transform: scale(3.5);
            inset: -15% 0 0 0;
        }
    }
}