.about {
    padding: 15px;
    display: grid;
    place-content: center;

    .container {
        padding: 50px 25px;
        background-color: #92e3a9;
        color: var(--primary-clr);
        border-radius: 10px;
        max-width: 1000px;

        .img-container {
            // position: relative;

            img {
                display: none;
                // position: absolute;
                // width: 100%;
            }
        }

        .text-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 500px;

            .about-title {
                letter-spacing: 3px;
                text-transform: uppercase;
                color: var(--primary-clr);
                font-size: 3rem;
                font-weight: 500;
                margin-bottom: 25px;
            }

            .text {
                display: grid;
                gap: 20px;
                font-size: 1.2rem;

                span {
                    font-weight: 600;
                }
            }
        }
    }
}

@media (min-width: 800px) {
    .about {
        padding: 100px;
        background-color: #e7e7e79f;



        .container {
            background-color: #92e3a981;
            padding: 50px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 25px;

            .img-container {
                display: flex;
                align-items: center;

                img {
                    display: inline;
                    width: 100%;
                }
            }

            .text-container {
                .about-title {
                    align-self: flex-start;
                }
            }
        }
    }
}