header {
    padding: 10px;
    // height: 50px;

    nav {
        display: flex;
        list-style: none;
        font-size: .75rem;
        align-items: center;
        justify-content: space-around;
        text-transform: uppercase;
    }

    button {
        display: inline-block;
    }
}