.animations {
    margin-bottom: 50px;

    .container {
        display: grid;
        width: 100%;

        img {
            width: 100%;
            border: 1px solid var(--primary-clr);
        }
    }
}

@media (min-width: 500px) {
    .animations {
        .container {
            place-items: center;
            gap: 20px;

            img {
                width: 70%;
                border-radius: 15px;
            }
        }
    }
}

@media (min-width: 800px) {
    .animations {
        display: grid;
        place-items: flex-start;

        .container {
            place-self: center;
            width: 80%;
            grid-template-columns: 1fr 1fr;
            gap: 10px 0;
            img{
                border-radius: 5px;
                border: 0px;
            }
        }
    }

}