.banner {
    height: 100vh;
    position: relative;
    overflow-x: hidden;
    // display: grid;
    // place-content: center;

    .main {
        position: relative;

        .left {
            display: flex;
            position: relative;
            left: 5%;

            .circle-bg {
                position: absolute;
                z-index: -99;
                top: 45%;
                left: -30%;
                transform: translate(-10%, -50%) scale(1.5);
            }

            .hero-bg {
                margin-top: 2%;
                height: 80vh;
            }
        }

        .right {
            position: absolute;
            bottom: -5%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
            color: var(--primary-clr);

            button {
                position: relative;
                z-index: 99999;
            }

            .name {
                text-align: center;
                font-family: BerkshireSwash;
                font-size: 5rem;
                line-height: 90%;
                text-shadow: 0px 2px 5px #d3d3d35b;

                span {
                    -webkit-text-fill-color: transparent;
                    color: transparent;
                    /* Will override color (regardless of order) */
                    -webkit-text-stroke-width: 2.5px;
                    -webkit-text-stroke-color: black;
                    text-transform: capitalize;
                }
            }

            .subtitle {
                background-color: rgba(255, 255, 255, 0.486);
                letter-spacing: 2px;
                font-weight: 600;

            }
        }

        .bg-sign {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: scale(.25) translate(-150%, -150%);

            #sign {
                stroke-dasharray: 1659;
                stroke-dashoffset: 1659;
                opacity: .45;
                animation: signOn 7s ease-in-out infinite;
            }
        }
    }

}

@media (min-width: 500px) {
    .banner {
        height: 100vh;

        .main {
            height: 100%;
            overflow: hidden;
            display: grid;
            grid-template-columns: 1fr 1fr;
            place-items: center;
            gap: 5%;

            .left {
                position: relative;
                height: max-content;

                .circle-bg {
                    transform: scale(5);
                    top: 35%;
                    left: -20%;
                    animation: animate_blob .5s 3.05s ease-in-out forwards;
                }

                .hero-bg {
                    animation: animate_hero .5s 3s ease-in-out forwards;

                }
            }

            .right {
                width: fit-content;
                position: static;
                align-items: flex-start;

                .name {
                    text-align: left;
                }

            }

            .bg-sign {
                position: absolute;
                transform: scale(4);
                z-index: -99;

                #sign {
                    opacity: .15;
                }
            }
        }
    }
}

@keyframes animate_blob {
    70% {
        transform: scale(6);
    }

    80% {
        transform: scale(5);
    }

    100% {
        transform: scale(3.5);
    }
}

@keyframes animate_hero {
    70% {
        transform: scale(.8);
    }

    80% {
        transform: scale(.9);
    }

    100% {
        transform: scale(1.05);
    }
}

@keyframes signOn {
    0% {
        stroke-dashoffset: 1659;
    }

    50% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 1659;
    }
}

// @keyframes sign {
//     to {
//         stroke-dasharray: 1659;
//         stroke-dashoffset: 1659;
//         animation: signOn 3s ease-in forwards;
//         opacity: .45;
//     }
// }