.banner {
    height: 100vh;
    position: relative;
    overflow-x: hidden;


    .main {
        position: relative;

        .left {
            display: flex;
            justify-content: center;
            position: relative;
            margin-top: 100px;

            .circle-bg {
                height: 80vw;
                width: 80vw;
                background: linear-gradient(146.59deg, rgba(217, 217, 217, 0.33) 12.5%, #D9D9D9 70.42%);
                border-radius: 50%;
                position: absolute;
                top: 35%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            .hero-bg {
                height: 70vh;
            }
        }

        .right {
            position: absolute;
            bottom: 0;
            width: 100%;

            .bg-sign {
                position: absolute;
                inset: 0;
                display: none;

                #sign {
                    stroke-dasharray: 1659;
                    stroke-dashoffset: 1659;
                    animation: signOn 3s ease-in forwards;
                    opacity: .35;
                }
            }

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
            color: var(--primary-clr);

            .name {
                text-align: center;
                font-family: BerkshireSwash;
                font-size: 5rem;

                span {
                    -webkit-text-fill-color: white;
                    color: white;
                    /* Will override color (regardless of order) */
                    -webkit-text-stroke-width: 2.5px;
                    -webkit-text-stroke-color: black;
                    text-transform: capitalize;
                }
            }

            .subtitle {
                letter-spacing: 2px;
                font-weight: 600;

            }
        }
    }

}

@keyframes signOn {
    to {
        stroke-dashoffset: 0;
    }
}